<mat-dialog-content class="mat-content">
    <div class="popup-div">

        <img class="imageItem-popup"
            src="https://www.politico.com/dims4/default/130fc6f/2147483647/strip/true/crop/1160x773+0+0/resize/1290x860!/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F8c%2F18%2F7fb9b88e4e588a4cc84bb8da9bbf%2F200613-nyt-getty-773.jpg">
        <div>

            <app-row-view title="Title:" value="{{post.abstract}}"></app-row-view>
            <app-row-view title="Description:" value="{{post.lead_paragraph}}"></app-row-view>
            <app-row-view title="Source:" value="{{post.source}}"></app-row-view>
            <app-row-view title="Section:" value="{{post.section_name}}"></app-row-view>


            <div *ngIf="post.type_of_material" class="row marginTop5">
                <div class="width-20per">
                    <span class="postTitle">Material: </span>
                </div>
                <div class="width-70per">
                    <span class="sml-text">{{post.type_of_material}}</span>
                </div>
            </div>

            <app-row-view title="Word Count:" value="{{post.word_count}}"></app-row-view>

            <div class="row marginTop5">
                <div class="width-20per">
                    <span class="postTitle">Headline: </span>
                </div>
                <div *ngIf="post.headline.main" class="row-view width-70per">
                    <div class="width-20per">
                        <span class="postTitle-2">Main: </span>
                    </div>
                    <div class="width-70per">
                        <span class="sml-text">{{post.headline.main}}</span>
                    </div>
                </div>
                <div class="width-20per">
                    <span class="postTitle"></span>
                </div>
                <div *ngIf="post.headline.kicker" class="row-view width-70per">
                    <div class="width-20per">
                        <span class="postTitle-2">Kicker: </span>
                    </div>
                    <div class="width-70per">
                        <span class="sml-text">{{post.headline.kicker}}</span>
                    </div>
                </div>
            </div>

            <div *ngIf="post.keywords.length>0" class="row marginTop5">
                <div class="width-20per">
                    <span class="postTitle">KeyWords: </span>
                </div>

                <div class="width-70per">
                    <mat-list *ngFor="let item of post.keywords"
                        style="width: 100%; display: flex;flex-direction: column;">
                        <div style="display: flex;width: 100%;flex-direction: column;border-bottom: 1px solid #eee;">
                            <div class="maindiv-popupmedia">
                                <span class="postTitle-2">Name: </span>
                                <div class="desc-popupmedia">
                                    <span class="sml-text">{{item.name}}</span>
                                </div>
                            </div>

                            <div class="maindiv-popupmedia">
                                <span class="postTitle-2">Value: </span>
                                <div class="desc-popupmedia">
                                    <span class="sml-text" >{{item.value}}</span>
                                </div>
                            </div>

                            <div class="maindiv-popupmedia">
                                <span class="postTitle-2">Rank: </span>
                                <div class="desc-popupmedia">
                                    <span class="sml-text">{{item.rank}}</span>
                                </div>
                            </div>
                        </div>
                    </mat-list>
                    <div class="width-20per">
                        <span class="postTitle"></span>
                    </div>
                </div>
            </div>

        </div>
        <div>
        </div>

    </div>
</mat-dialog-content>