<div class="container-fluid">
  <div style="display: flex; width: 100%; height: 95vh;justify-content: center;align-items: center;">
    <div
      style="display: flex;flex-direction: column;width: 500px; height:350px; background-color:#eee;padding: 30px; border-radius: 10px; align-items: center;justify-content: center;">
      <span style="font-size: large; font-weight: 500; color: #FFB6C1;">Welcome, Please Sign In</span><br />
      <br />
      <form class="example-form" style="display: flex; width: 100%; justify-content: center;">
        <mat-form-field class="example-full-width" appearance="fill" style="width: 350px; height: 55px">
          <mat-label>Api-key</mat-label>
          <input matInput placeholder="JS0088had0447JDT123Bc76dezM0933J" style="width: 350px;"
            (change)="storeInputValue($event)">
        </mat-form-field>
      </form>
      <div style="width: 350px">
        <span *ngIf="isVisible" class="errortext">{{errorMsg}}</span>
      </div>
      <br />
      <br />
      <button mat-raised-button color="primary" (click)="callCheckApi()" style="width:50% ;">Login</button>
      <br />
      <div *ngIf="isLoggedIn !== 'false'"><a (click)="skipFunction()" class="skiptext pointer">Already logged in,
          Skip</a> </div>
    </div>
  </div>
</div>